streamlit==1.46.0
scikit-learn==1.4.2
joblib==1.4.2
xgboost==2.0.3
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
scipy==1.13.1
nltk==3.8.1
Sastrawi==1.0.1
wordcloud==1.9.4
streamlit-extras==0.4.0
opencv-python==4.8.0.76
Pillow==9.5.0
plotly==6.1.2
openpyxl==3.1.5
protobuf==4.25.3
